<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
</head>
<body>

<h1 th:inline="text">Розрахунок вартості замовлення</h1>

<div th:switch="${order}">
    <h2 th:case="null">Замовлень не знайдено</h2>
    <div th:case="*">
        <h2>Ціна становить:</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Rate</th>
                <th>From</th>
                <th>To</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${orderDTO.date}"></td>
                <td th:text="${orderDTO.orderRate}"></td>
                <td th:text="${orderDTO.routeFrom}"></td>
                <td th:text="${orderDTO.routeTo}"></td>
                <td th:text="${orderDTO.price}"></td>
            </tr>
            </tbody>
        </table>
        <p><a href="/">Головна</a></p>
        <p><a href="/registration">Зареєструйтесь для оформлення замовлення</a> </p>
    </div>
</div>