<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Доставка грузов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="parts/navbar :: header"></header>
<h1>
    <div class="container mt-5" th:text="#{greeting}"></div>
</h1>
<h1 class="container mt-5">Сайт компании по доставке грузов</h1>
<div class="header-bg">
    <p><a href="/profile">Особистий кабінет</a></p>
    <p><a href="/registration">Реєстрація</a></p>
    <p><a href="/estimation">Щоб здійснити прорахунок</a></p>
    <!-- todo ><p>Щоб переглянути напрямки та тарифи доставки перейдіть по <a href="/users">посиланню</a> </p>-->

<div class="container mt-5">
    <p> У веб-застосунку існують ролі: Користувач, Авторизований користувач, Менеджер.
        На сайті компанії доставки вантажів розміщено інформацію про напрямки доставки,
        а також про тарифи. Незареєстрований користувач може переглядати інформацію
        на сайті, а також має можливість самостійно розрахувати вартість послуг за допомогою калькулятора вартості доставки.
    </p>

    <p> Авторизований користувач може створити заявку на доставку вантажу і вказати адресу доставки.
        Заявка містить інформацію про тариф, напрям доставки, тип багажу, вагу і габарити. Також користувач зазначає чи потрібне пакування і оголошену вартість.
        Система автоматично генерує та встановлює замовленню ціну.
        Менеджер опрацьовує заявки і формує квитанції до сплати, а також може
        фільтрувати замовлення (по напрямках та оплаті).
        Авторизований користувач в своєму кабінеті може сплатити квитанцію на доставку, внаслідок чого у замовлення сформується
        дата доставки, яка також залежатиме від маршруту доставки.
    </p>
</div>
<div class="container mt-5">
    <p><strong>Cargo Management System</strong></p>
</div>
</div>
</body>
</html>