<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1 th:inline="text">Admin page</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div th:switch="${OrderListFromDB}">
    <h2 th:case="null">No orders found</h2>
    <div th:case="*">
        <h2>Not approved orders from users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Price</th>
                <th>Date</th>
                <th>Type</th>
                <th>Declared value</th>
                <th>Packing</th>
                <th>Approved</th>
                <th>Rate</th>
                <th>Route from</th>
                <th>Route to</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${OrderListFromDB}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.user.id}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.date}"></td>
                <td th:text="${order.type}"></td>
                <td th:text="${order.declaredValue}"></td>
                <td th:text="${order.packing}"></td>
                <td th:text="${order.approved}"></td>
                <td th:text="${order.orderRate}"></td>
                <td th:text="${order.routeFrom}"></td>
                <td th:text="${order.routeTo}"></td>
                <form th:action="'/applications/' + ${order.id} + '/approve'" th:method="post">
                    <td><input type="submit" value="Approve"></td>
<!--                    <button type="submit" class="btn btn-outline-primary" th:text="#{button.approve}"></button>-->
                </form>
                <form th:action="'/applications/' + ${order.id} + '/delete'" th:method="post">
                    <td><input type="submit" value="Delete"></td>
                    <!--                    <button type="submit" class="btn btn-outline-primary" th:text="#{button.approve}"></button>-->
                </form>

<!--                <td><a th:href="@{user_update/{id}(id=${user.id})}">Approve</a></td>-->
<!--                <td><a th:href="@{user_delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
<!--        <p><a href="/order">Оформити замовлення</a></p>-->
<!--        <p><a href="/order_page">Мої замовлення</a></p>-->
    </div>
</div>
</body>
</html>