<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.page}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:inline="text">
        [[${#httpServletRequest.remoteUser}]]</h5>

    <a class="btn btn-outline-primary" href="/profile" th:text="#{button.profile}"></a>
    <a class="btn btn-outline-primary" href="/" th:text="#{main}"></a>
    <a class="btn btn-outline-primary" href="/logout" th:text="#{button.logout}"></a>

    <span th:text="#{lang.change}"></span>:
    <a class="btn btn-outline-primary" href="?lang=en" th:text="#{lang.eng}"></a>
    <a class="btn btn-outline-primary" href="?lang=ua" th:text="#{lang.ua}"></a>
</div>
<div class="table-bordered">
    <h2 th:text="#{order.management}"></h2>
    <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" href="/filter_page" th:text="#{filter.page}"></a>
</nav>
    <h3 th:text="#{unprocessed.application}"></h3>
    <div th:switch="${NotProcessedOrders}">
        <h2 th:case="null" th:text="#{no.orders}"></h2>
        <div th:case="*">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{application.date}"></th>
                    <th th:text="#{order.id}"></th>
                    <th th:text="#{type}"></th>
                    <th th:text="#{user.id}"></th>
                    <th th:text="#{user.name}"></th>
                    <th th:text="#{delivery.date}"></th>
                    <th th:text="#{orderRate}"></th>
                    <th th:text="#{routeFrom}"></th>
                    <th th:text="#{routeTo}"></th>
                    <th th:text="#{deliveryAddress}"></th>
                    <th th:text="#{packing}"></th>
                    <th th:text="#{declaredValue}"></th>
                    <th th:text="#{button.processed}"></th>
                    <th th:text="#{price}"></th>
                    <th th:text="#{paid}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${NotProcessedOrders}">
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.type}"></td>
                    <td th:text="${order.user.id}"></td>
                    <td th:text="${order.user.username}"></td>
                    <td th:text="${order.deliveryDate}"></td>
                    <td th:text="${order.orderRate}"></td>
                    <td th:text="${order.routeFrom}"></td>
                    <td th:text="${order.routeTo}"></td>
                    <td th:text="${order.deliveryAddress}">
                    <td th:text="${order.packing}"></td>
                    <td th:text="${order.declaredValue}"></td>
                    <td th:text="${order.processed}"></td>
                    <td th:text="${order.price}"></td>
                    <td th:text="${order.orderPaid}"></td>
                        <form th:action="'/applications/' + ${order.id} + '/processed'" th:method="post">
                            <td><button name="submit" type="submit" class="btn btn-success"
                                    th:text="#{button.processed}"></button></td>
                        </form>
                        <form th:action="'/applications/' + ${order.id} + '/delete'" th:method="post">
                            <td><button name="submit" type="submit" class="btn btn-danger"
                                    th:text="#{button.delete}"></button></td>
                        </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h3 th:text="#{processed.application}"></h3>
    <div th:switch="${ProcessedOrders}">
        <h2 th:case="null" th:text="#{no.orders}"></h2>
        <div th:case="*">
            <table class="table table-success">
                <thead>
                <tr>
                    <th th:text="#{application.date}"></th>
                    <th th:text="#{order.id}"></th>
                    <th th:text="#{type}"></th>
                    <th th:text="#{user.id}"></th>
                    <th th:text="#{user.name}"></th>
                    <th th:text="#{delivery.date}"></th>
                    <th th:text="#{orderRate}"></th>
                    <th th:text="#{routeFrom}"></th>
                    <th th:text="#{routeTo}"></th>
                    <th th:text="#{deliveryAddress}"></th>
                    <th th:text="#{packing}"></th>
                    <th th:text="#{declaredValue}"></th>
                    <th th:text="#{button.processed}"></th>
                    <th th:text="#{price}"></th>
                    <th th:text="#{paid}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${ProcessedOrders}">
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.type}"></td>
                    <td th:text="${order.user.id}"></td>
                    <td th:text="${order.user.username}"></td>
                    <td th:text="${order.deliveryDate}"></td>
                    <td th:text="${order.orderRate}"></td>
                    <td th:text="${order.routeFrom}"></td>
                    <td th:text="${order.routeTo}"></td>
                    <td th:text="${order.deliveryAddress}">
                    <td th:text="${order.packing}"></td>
                    <td th:text="${order.declaredValue}"></td>
                    <td th:text="${order.processed}"></td>
                    <td th:text="${order.price}"></td>
                    <td th:text="${order.invoice.paid}"></td>
                    <form th:action="'/applications/' + ${order.id} + '/archive'" th:method="post">
                        <td><button name="submit" type="submit" class="btn btn-warning"
                                    th:text="#{button.archived}"></button></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
