<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
</head>
<body>

<h1 th:inline="text">Ваші замовлення</h1>

<div th:switch="${orders}">
    <h2 th:case="null">Замовлень не знайдено</h2>
    <div th:case="*">
        <h2>Інформація про замовлення</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Rate</th>
                <th>From</th>
                <th>To</th>
                <th>Price</th>
                <th>Processed</th>
                <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.date}"></td>
                <td th:text="${order.orderRate}"></td>
                <td th:text="${order.routeFrom}"></td>
                <td th:text="${order.routeTo}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.processed}"></td>
                <td th:text="${order.paid}"></td>

                <!--                //todo deleting functional-->
                <!--                <td><a th:href="@{order_delete/{id}(id=${order.id})}">Delete order</a></td>-->
            </tr>
            </tbody>
        </table>
        <h2>The invoice will be available after the application has been processed by the manager.</h2>
        <p><a href="/invoice">Квитанції про оплату</a></p>
        <p><a href="/profile">Мій профіль</a></p>
        <p><a href="/order">Оформити нове замовлення</a></p>
    </div>
</div>

<!--<div th:switch="${cargo}">-->
<!--    <h2 th:case="null">Вантажів не знайдено</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Інформація про вантаж</h2>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Type</th>-->
<!--                <th>Weight</th>-->
<!--                <th>Length</th>-->
<!--                <th>Height</th>-->
<!--                <th>Width</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                <td th:text="${cargo.id}"></td>-->
<!--                <td th:text="${cargo.type}"></td>-->
<!--                <td th:text="${cargo.weight}"></td>-->
<!--                <td th:text="${cargo.length}"></td>-->
<!--                <td th:text="${cargo.height}"></td>-->
<!--                <td th:text="${cargo.width}"></td>-->
<!--&lt;!&ndash;                <td><a th:href="@{user_update/{id}(id=${user.id})}">Edit</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{user_delete/{id}(id=${user.id})}">Delete</a></td>&ndash;&gt;-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <p><a href="/order">Оформити замовлення</a> </p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->