<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>
</head>
<body>

<h1 th:inline="text">Invoice page</h1>

<div th:switch="${invoice}">
    <h2 th:case="null">There are no generated invoices</h2>
    <div th:case="*">
        <h2>Ви можете сплатити тут.</h2>
        <h2>Квитанції про оплату замовленя:</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Order id</th>
                <th>Total</th>
                <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inv : ${invoice}">
                <td th:text="${inv.id}"></td>
                <td th:text="${inv.description}"></td>
                <td th:text="${inv.order.id}"></td>
                <td th:text="${inv.price}"></td>
                <td th:text="${inv.paid}"></td>
                <form th:action="'/invoice/' + ${inv.id} + '/payment'" th:method="post">
                    <td><input type="submit" value="Pay"></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:switch="${paidInvoice}">
    <h2 th:case="null">There are no paid invoices</h2>
    <div th:case="*">
        <h2>Сплачені квитанції:</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Order id</th>
                <th>Total</th>
                <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="paidInvoice : ${paidInvoice}">
                <td th:text="${paidInvoice.id}"></td>
                <td th:text="${paidInvoice.description}"></td>
                <td th:text="${paidInvoice.order.id}"></td>
                <td th:text="${paidInvoice.price}"></td>
                <td th:text="${paidInvoice.paid}"></td>
            </tr>
            </tbody>
        </table>
        <p><a href="/profile">Мій профіль</a></p>
    </div>
</div>
