<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userPage}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:inline="text">
        [[${#httpServletRequest.remoteUser}]]</h5>

    <a class="btn btn-outline-primary" href="/" th:text="#{main}"></a>
    <a class="btn btn-outline-primary" href="/logout" th:text="#{button.logout}"></a>

    <span th:text="#{lang.change}"></span>:
    <a class="btn btn-outline-primary" href="?lang=en" th:text="#{lang.eng}"></a>
    <a class="btn btn-outline-primary" href="?lang=ua" th:text="#{lang.ua}"></a>
</div>
<div class="container mt-5">
<div th:switch="${user}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2 th:text="#{userProfile}"></h2>
        <table class="table table-light">
            <thead>
            <tr>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>

                <td th:text="${user.username}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td><a th:href="@{user_update/{id}(id=${user.id})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-primary" href="/order_page" th:text="#{button.myOrders}"></a>
            <a class="btn btn-outline-primary" href="/order" th:text="#{button.createOrder}"></a>
        </nav>
        </div>
    </div>
</div>
</body>
</html>