
<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:inline="text">
      [[${#httpServletRequest.remoteUser}]]</h5>
    <nav class="my-2 my-md-0 mr-md-3">

      <a class="btn btn-outline-primary" href="/" th:text="#{main}"></a>
    </nav>
    <a class="btn btn-outline-primary" href="/login" th:text="#{button.sign_in}"></a>
    <a class="btn btn-outline-primary" href="/registration" th:text="#{button.sign_up}"></a>

    <span th:text="#{lang.change}"></span>:
    <a class="btn btn-outline-primary" href="?lang=en" th:text="#{lang.eng}"></a>
    <a class="btn btn-outline-primary" href="?lang=ua" th:text="#{lang.ua}"></a>
  </div>
</div>